#individual{
    background-color: white;
    border:1px solid #f7941f;
    border-radius: 4px;
    font-size: 16px;
    width: 150px;
    height: 30px;
    /* float: left; */
}
#company{
    background-color: white;
    border:1px solid #f7941f;
    border-radius: 4px;
    font-size: 16px;
    width: 150px;
    height: 30px;
    /* float: left; */
}
#centertext{
    width: 100%; 
    height: 80%;
    /* position: fixed; */
    /* color: #f7941f; */
    /* background-color: red; */
    position: absolute;
    top: 15%;
}
#individualdiv{
    visibility: hidden;
    width: 50%;
    margin: 0 auto;
}
#companydiv{
    visibility: hidden;
    width: 50%;
    margin: 0 auto;
}
#buttons{
    display: inline-block;
}
#header{
    font-size: 20px
}
#smallheader{
    font-size: 13px;
}
#questionone{
    font-size: 13px;

}
#displaydiv{
    border-top: 1px solid  #f7941f;
    width: 100%;
    /* margin: 0 auto; */
    height: 250px;
    margin-top:5%;
    background-color: #f1f2f2;
}
#text{
    border: 1px solid  #f7941f;
    width: 45%;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
    /* height: 533; */
    /* display: inline-block; */
    /* height: 40px; */
    /* background-color: #f1f2f2; */
}
#upper{
    width: 100%;
    height: 75px;
}
#lower{
    width: 100%;
    height: 20px;
    bottom: 0px;
    position:fixed;
}